#token-action-hud {
    .charged {
        align-items: center;
        display: flex;
        font-size: .65rem;

        &:before {
            content: '';
            font-family: 'RPGAwesome';
            margin: .2rem;
            scale: 1.25;
        }
    }

    .flat-disabled {
        pointer-events: none;
    }

    .action-nulled-out .roll-modifier,
    .action-nulled-out .tah-action-button-text {
        opacity: .6;
    }

    .action-nulled-out .tah-action-button-content {
        &::before {
            content: "Ø";
            color: #cf4e6e;
        }
    }

    .roll-modifier {
        font-size: 1rem;
    }
}
