#token-action-hud {
    .charged {
        align-items: center;
        display: flex;
        font-size: .65rem;

        &:before {
            content: '';
            width: .7rem;
            height: .7rem;
            background: url(../../systems/pf1/icons/actions/battery-pack.svg);
            display: block;
            margin: .2rem;
        }
    }

    .flat-disabled {
        pointer-events: none;
    }

    .action-nulled-out .roll-modifier,
    .action-nulled-out .tah-action-button-text {
        opacity: .6;
    }

    .action-nulled-out .tah-action-button-content {
        &::before {
            content: "Ø";
            color: #cf4e6e;
        }
    }

    .roll-modifier {
        font-size: 1rem;
    }
}